@model ApiPlatzi_.Models.ProductsContainer
@{
    ViewBag.Title = "Fake API";
    ViewBag.Message = "Your API for your e-commerce developed by Dev Joander";

}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <input id="searchInput" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
</nav>
<!-- Button trigger modal -->
<button id="btnCr" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" onclick="ocultarBotonesModal()">New</button>
<br />
<br />

<div class="row" id="productsContainer">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Price</th>
                <th>Description</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr class="trBody">
                    <td>@product.id</td>
                    <td class="tdTitle">@product.title</td>
                    <td>@product.price</td>
                    <td>@product.description</td>
                    <td><img src="@product.images[0]" style="width: 50px; height: 50px;" alt="Product Image"></td>
                    <td>
                        <button type="button" class="btn btn-success btnVer" onclick="getProductDetailsById(@product.id, 'ver')"> <i class="fa-solid fa-magnifying-glass"></i> </button>
                        <button type="button" class="btn btn-warning btnUp" onclick="getProductDetailsById(@product.id, 'editar')"><i class="fa-solid fa-pen"></i></button>
                        <button type="button" class="btn btn-danger btnDe" onclick="getProductDetailsById(@product.id, 'eliminar')"><i class="fa-solid fa-trash"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-12">
                    <h5 class="modal-title" id="exampleModalLabel">Product Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <p id="smsDelete" style="display:none">¿Seguro que quieres eliminar este producto?</p>

                <!-- Agrega un identificador al formulario -->
                <form id="productForm">
                    <div class="container">

                        <div class="row">
                            <div class="col-lg-6">

                    <div class="form-group">
                        <label for="inputTitle">Id</label>
                        <input type="text" class="form-control" id="inputId" name="Id" placeholder="Id" />
                    </div>
                    <div class="form-group">
                        <label for="inputTitle">Title</label>
                        <input type="text" class="form-control" id="inputTitle" name="Title" placeholder="Title">
                    </div>

                            </div>
                            <div class="col-lg-6">

                    <div class="form-group">
                        <label for="inputPrice">Price</label>
                        <input type="number" class="form-control" id="inputPrice" name="Price" placeholder="Price">
                    </div>
                    <div class="form-group">
                        <label for="inputDescription">Description</label>
                        <input type="text" class="form-control" id="inputDescription" name="Description" placeholder="Description">
                    </div>
                            </div>

                        </div>

                    </div>
                    @*<div class="custom-file">
                        <input type="file" class="custom-file-input" id="customImage" name="Images" accept="image/*">
                        <label class="custom-file-label" for="customImage">Choose image</label>
                    </div>*@
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btnModalClo" data-dismiss="modal">Close</button>
                <button id="btnModalCreate" type="button" class="btn btn-primary btnModalCr" onclick="createProduct()">Create</button>
                <button id="btnModalUpdate" type="button" class="btn btn-warning btnModalUp" onclick="updateProduct()">Update</button>
                <button id="btnModalDelete" type="button" class="btn btn-danger btnModalDe" onclick="DeleteProductById()">Delete</button>
            </div>
        </div>
    </div>
</div>

<br />
<address>
    SASF<br />
    Sudamericana de Software<br />
    Phone: 0983274298
</address>


<script>

    document.addEventListener("DOMContentLoaded", function () {
         searchProductByTitle();
    });

    function mostrarTarjetas(data, filter) {
        var searchInput = document.getElementById("searchInput");
        var productsContainer = document.getElementById("productsContainer");
        var trBody = productsContainer.getElementsByClassName("trBody");

        // Almacena los títulos de cada fila para evitar repetidas llamadas al DOM
        var titles = Array.from(trBody).map(function (tr) {
            var tdTitle = tr.getElementsByClassName("tdTitle")[0];
            return tdTitle.innerText.toUpperCase();
        });

        searchInput.addEventListener("input", function () {
            var filter = searchInput.value.toUpperCase();

            for (var i = 0; i < trBody.length; i++) {
                var title = titles[i];
                if (title.includes(filter)) {
                    $(trBody[i]).show();
                } else {
                    $(trBody[i]).hide();
                }
            }
        });


    }

    function searchProductByTitle() {
        var searchInput = document.getElementById("searchInput");

        // Escucha el evento de entrada en el campo de búsqueda
        searchInput.addEventListener("input", function () {
            var filter = searchInput.value.toUpperCase();

             $.ajax({
                url: '/Home/SearchProducts',
                type: 'GET',
                data: { q: filter },
                dataType: 'json',
                success: function (data) {
                    mostrarTarjetas(data, filter);
                },
                error: function (error) {
                    console.error(error);
                    console.error('Error al realizar la búsqueda');
                }
            });
        });
    }

    function createProduct() {
    var imageUrl = "https://i.ibb.co/bHSrDjd/cell.jpg";

    var productData = {
        title: $("#inputTitle").val(),
        description: $("#inputDescription").val(),
        price: $("#inputPrice").val(),
        discountPercentage: 1.1,
        rating: 3.3,
        stock: 9,
        brand: "brand",
        category: "smartphones",
        thumbnail: "https://i.dummyjson.com/data/products/1/thumbnail.jpg",
        images: [imageUrl]

    };
    console.log("productData ",productData);
    $.ajax({
        url: '@Url.Action("CreateProduct", "Home")',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(productData),
         success: function (result) {
             console.log(result);
             $('#exampleModal').modal('hide');
            
        },
        error: function (error) {
            console.log(error);
            alert('Error al crear el producto.');
            $('#exampleModal').modal('hide');
        }
    });
    }

    function updateProduct() {
        var imageUrl = "https://i.ibb.co/bHSrDjd/cell.jpg";
 
        var productData = {
             id: $("#inputId").val(),
             title: $("#inputTitle").val(),
             description: $("#inputDescription").val(),
             price: $("#inputPrice").val(),
             discountPercentage: 1.1,
             rating: 3.3,
             stock: 9,
             brand: "brand",
             category: "smartphonesssss",
             thumbnail: "https://i.dummyjson.com/data/products/1/thumbnail.jpg",
             images: [imageUrl]

         };
         console.log("productData ",productData);
        $.ajax({
             url: '@Url.Action("UpdateProduct", "Home")',
             type: 'PUT', // El PATCH permite actualizar solo los campos del producto que han cambiado
             contentType: 'application/json',
             data: JSON.stringify(productData),
              success: function (result) {
                 console.log(result);
                  $('#exampleModal').modal('hide');
             },
            error: function (xhr, status, error) {
                $('#exampleModal').modal('hide');
               // console.error(xhr.responseText);
                console.error(status);
                console.error(error);
                alert('Error al actualizar el producto.');
            }
         });
         }

    function getProductDetailsById(productId, contexto) {
        $.ajax({
            url: '/Home/GetProductById/' + productId,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                // Lleno el modal con los detalles del producto
                var responseData = JSON.parse(data.respuesta);
                $("#inputId").val(responseData.id);
                $("#inputTitle").val(responseData.title);
                $("#inputPrice").val(responseData.price);
                $("#inputDescription").val(responseData.description);

                if (contexto === "ver") {
                    $(".btnModalCr").hide();
                    $(".btnModalUp").hide();
                    $(".btnModalDe").hide();
                    $("#inputTitle").prop("readonly", true);
                    $("#inputPrice").prop("readonly", true);
                    $("#inputId").prop("readonly", true);
                    $("#inputDescription").prop("readonly", true);
                    $('#productForm').show();
                    $('#smsDelete').hide();
                } else if (contexto === "editar") {
                    $(".btnModalCr").hide();
                    $(".btnModalUp").show();
                    $(".btnModalDe").hide();
                    $("#inputTitle").prop("readonly", false);
                    $("#inputPrice").prop("readonly", false);
                    $("#inputDescription").prop("readonly", false);
                    $("#inputId").prop("readonly", true);
                    $('#productForm').show();
                    $('#smsDelete').hide();
                } else if (contexto === "eliminar") {
                    $(".btnModalCr").hide();
                    $(".btnModalUp").hide();
                    $(".btnModalDe").show();
                    $('#productForm').hide();
                    $('#smsDelete').show();
                }

                $('#exampleModal').modal('show');
            },
            error: function (error) {
                console.error(error.toUpperCase());
                alert('Error al cargar los detalles del producto');
            }
        });
    }

    function ocultarBotonesModal() {
        $("#btnModalUpdate, #btnModalDelete").hide();
        $("#inputTitle").prop("readonly", false);
        $("#inputPrice").prop("readonly", false);
        $("#inputDescription").prop("readonly", false);
        $("#inputTitle").val("");
        $("#inputPrice").val("");
        $("#inputDescription").val("");
        $('#productForm').show();
        $('#smsDelete').hide();
        $(".btnModalCr").show();
    }

    function DeleteProductById() {
        var productId = $("#productId").val();

        $.ajax({
            url: '/Home/DeleteProductById/' + productId,
            type: 'DELETE',
            success: function (data) {
                console.log(data);
                alert(data.success || data.error);
                $('#exampleModal').modal('hide');
            },
            error: function (error) {
                console.error(error);
                $('#exampleModal').modal('hide');
                alert('Error al eliminar el producto');
            }
        });

    }

</script>


